{% extends "base.html" %} {% block content %}

<form class="toDo-form" onsubmit="createToDo('{{ csrf_token }}', '{{ request.user }}'); return false" method="POST">

    {% csrf_token %}
    <input id="titleInput" type="text" name="toDoTitle" placeholder="Type the title of your toDo">

    <input id="descriptionInput" type="text" name="toDoDescription" placeholder="Type the description of your toDo">

    <button>CREATE</button>

</form>

<div class="toDos-container" id="toDosContainer">

    {% for toDo in toDos %}

    <div class="toDo-container">

        <span class="title-span"><b>{{ toDo.title }}:</b></span>

        <span class="description-span">{{ toDo.description }}</span>

    </div>

    {% endfor %}

</div>

{% endblock %}