<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toDo-API</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>

<body>

    <h1>This is the toDos board</h1>

    <h2>Type a title and a description and press the "CREATE" button. By creating a new toDo you are contributing to
        make the toDos API bigger.</h2>

    <div>

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>